*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
#header-container,
.footer-container,
#svgpart-container{
    margin: 0 auto;
    max-width: 1200px;
}
#top-bar{
    height: 50px;
    margin-top: 10px;
}
.top-bar-logo{
    vertical-align: middle;
}
.header-list{
    list-style-type: none;
    display: inline-block;
}
.list{
    display: inline-block;
}
.header-element{
    margin-left: 30px;
}
.header-element-link{
    text-decoration: none;
    color: black;
}
.secondlist{
    padding-left: 150px;
}
.button{
    padding: 5px 10px;
    background-color: rgb(48, 126, 228);
    color: white;
    border: none;
}
.header-button{
    margin-left: 50px;
}
.header-jumbotron{
    background-color: lightblue;
    height: 650px;
}
.jumbo-partcontainer{
    padding: 80px;
}
.jumbotron-title{
    font-size: 60px;
}
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}
.jumbofloat{
    float: left;
    width: 20%;
}
.jumbotron-paragraph{
    font-size: 15px;
    margin-top: 75px;
}
.jumbotron-button{
    margin-top: 20px;
}
.jumbotron-disclaimer{
    font-size: 10px;
    margin-top: 5px;
}
.fa-arrow-down{
    margin-top: 30px;
    font-size:30px;
}
.jumbo-image{
    margin-right: 100px;
    width: 60%;
    height: 400px;
    float: right;
}
#main-container{
    padding: 200px;
    height: 3100px;
}
.firstsection-title{
    font-size: 30px;
}
.circled-buttons{
    padding-top:30px;
}
.secondcircledbutton{
    margin-left: 20px;
}
.column{
    max-width:250px;
    height: 700px;
    border: 1px solid lightgray;
    margin-top: 30px;
    float: left;
}
.column-single{
    text-align: center;
    border-bottom: 1px solid lightgray;
}
.column-body{
    padding:20px;
}
.column-price{
    margin-top: 10px;
}
.column-choice,
.columndirect-link,
.columncheck,
.link-clients{
    color: rgb(48, 126, 228);
}
.col-hr{
    margin: 45px 130px 0 10px;
    color: lightgray;
}
.columnfa,
.column-choice,
.column-link,
.column-list,
.bigbox-description,
.business-col-description,
.footer-li,
.fa-globe-americas,
.link-clients
.partnerdescription{
    font-size: 12px;
}
.user1{
    margin-top: 50px;
}
.folder1,
.pencil1,
.column-link,
.column-list,
.bigbox-description,
.business-col-description,
.partnerdescription{
    margin-top: 20px;
}
.column-button{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.columnlist-title{
    margin-top: 50px;
}
.column-list{
    list-style-type: none;
}
.column-list-item{
    margin-top: 10px;
}
.secondcolumn,
.thirdcolumn,
.second-col,
.third-col,
.fifth-col,
.sixth-col{
    margin-left: 97px;
}
.bigbox{
    margin-top: 50px;
    height: 150px;
    border: 1px solid lightgrey;
}
.bigbox-content{
    padding: 20px;
}
.bigbox-title{
    display: inline-block;
}
.bigbox-button{
    margin-left: 600px;
}
.bigbox-subtitle{
    margin-top: 10px;
}
.partner-box{
    margin-top: 100px;
}
.partnerimgcontainer{
    float: left;
}
.partner-image{
    width: 500px;
    height: 400px;
}
.partner-box-text{
    width: 350px;
    height: 400px;
    margin-top: 30px;
    float: right;
}
.partner-button{
    margin-top: 30px;
    padding: 10px;
}
.businesstitle{
    font-size: 30px;
    margin-top: 40px;
}
.business-column{
    margin-top: 20px;
    max-width: 250px;
    float: left;
}
.business-image{
    width: 250px;
    height: 250px;
}
.underlinetext{
    border-bottom: 1px solid black;
}
.team-title{
    margin-top: 200px;
    font-size: 40px;
}
#svgpart-container{
    font-size: 0;
}
.svg-firstcol,
.svg-thirdcol{
    width: 25%;
    display: inline-block;
}
svg{
    fill: white;
    padding: 20px;
    display: inline-block;
}
svg.design{
    background-color: rgb(101, 187, 101);
    border: 10px solid rgb(141, 184, 141);
}
svg.arizona{
    background-color: rgb(100, 19, 64);
}
svg.florida{
    background-color: lightskyblue;
}
svg.topps{
    background-color: rgb(255, 8, 0);
}
.svg-secondcol{
    width: 50%;
    background-color: rgb(233, 222, 222);
    display: inline-block;
    vertical-align: top;
}
svg.seconddesign{
    fill: black;
}
.svghr{
    margin: 0 550px 20px 20px;
}
.morten-cit{
    font-size: 12px;
    margin: 31px;
}
svg.bicycle{
    background-color: rgb(201, 25, 25);
}
svg.hearst{
    background-color: lightskyblue;
}
svg.planet{
    background-color: blue;
}
svg.channel{
    background-color: rgb(233, 233, 22);
}
.db-business{
    background-color: lightblue;
    height: 300px;
}
.placement-title{
    color: rgb(128, 0, 60);
    padding: 100px 150px;
    font-size: 30px;
    display: inline-block;
}
.placement-button{
    padding: 5px 10px;
    margin-left: 200px;
    border: none;
}
#second-main-container{
    height:500px;
    padding:200px;
}
.questions{
    padding:50px;
}
.questiontitle{
    font-size: 30px;
    padding-bottom: 10px;
}
.question{
    padding-top:40px;
    border: 1px solid lightgrey;
    padding-bottom: 20px;
    border-left: none;
    border-right: none;
}
.fa-angle-down{
    margin-left: 250px;
}
.footer-container{
    background-color: black;
    margin-top: 200px;
}
.footer-list{
    display: inline-block;
    list-style-type: none;
    padding: 50px;
}
.footer-li-title{
    color: white;
}
.footer-li{
    color: white;
    text-decoration: none;
    margin-top: 10px;
}
.lastul{
    vertical-align: top;
}
.lasthr{
    color: white;
    margin: 0 1000px 0 50px;
}
.fa-globe-americas{
    color: white;
    padding: 50px;
}




