*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container90{
    width: 90%;
    margin: 0 auto;
}
#top-bar{
    height: 50px;
    padding-top: 10px;
}
.top-bar-logo{
    vertical-align: middle;
}
.header-list{
    list-style-type: none;
    display: inline-block;
}
.list{
    display: inline-block;
}
.header-element{
    margin-left: 25px;
}
.header-element-link{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.header-element-link:hover{
    text-decoration: underline;
}
.drop-down,
.drop-question{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
    width: 120px;
    z-index: 1;
    margin-left: 25px;
}
.dropdown-content a{
    color: black;
    text-decoration: none;
    display: block;
}
.drop-down:hover .dropdown-content,
.drop-question:hover .drop-question-content{
    display: block;
}
.secondlist{
    padding-left: 150px;
}
.button{
    padding: 5px 10px;
    background-color: rgb(48, 126, 228);
    color: white;
    border: none;
    cursor: pointer;
}
.button:hover{
    text-decoration: underline;
    background-color: blue;
    transition: 2s;
}
.header-button{
    margin-left: 70px;
}
.header-jumbotron{
    background-color: lightblue;
    height: 650px;
}
.jumbo-partcontainer{
    padding: 80px;
}
.jumbotron-title{
    font-size: 60px;
}
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}
.jumbofloat{
    float: left;
    width: 20%;
}
.jumbotron-button{
    margin-top: 20px;
}
.jumbotron-disclaimer{
    font-size: 10px;
    margin-top: 5px;
}
.fa-arrow-down{
    margin-top: 30px;
}
.jumbo-image{
    margin-left: 20px;
    width: calc(60% - 20px);
    float: right;
}
.margin-top75{
    margin-top:35px;
}
.container60{
    margin: 0 auto;
    width: 60%;
}
.fa-arrow-down,
.firstsection-title,
.businesstitle,
.placement-title,
.questiontitle{
    font-size: 30px;
}
.firstsection-title{
    margin-top: 100px;
}
.circled-buttons{
    padding-top:30px;
}
.secondcircledbutton{
    margin-left: 20px;
}
.column{
    width: calc(100% / 3 - 20px);
    min-height: 700px;
    border: 1px solid lightgray;
    margin-top: 30px;
    float: left;
}
.column-single{
    text-align: center;
    border-bottom: 1px solid lightgray;
}
.column-body{
    padding:20px;
}
.column-price{
    margin-top: 10px;
}
.column-choice,
.columndirect-link,
.columncheck,
.link-clients{
    color: rgb(48, 126, 228);
}
.col-hr{
    margin: 45px 130px 0 10px;
    color: lightgray;
}
.font12,
.drop-question-content p{
    font-size: 12px;
}
.user1{
    margin-top: 50px;
}
.font12{
    margin-top: 20px;
}
.column-button{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.columnlist-title{
    margin-top: 50px;
}
.column-list{
    list-style-type: none;
}
.column-list-item{
    margin-top: 10px;
}
.secondcolumn{
    margin-left: 30px;
    margin-right: 30px;
}
.second-col,
.third-col,
.fifth-col,
.sixth-col{
    margin-left: 97px;
}
.bigbox{
    margin-top: 50px;
    min-height: 150px;
    border: 1px solid lightgrey;
}
.bigbox-content{
    padding: 20px;
}
.bigbox-title{
    display: inline-block;
}
.bigbox-button{
    margin-left: 600px;
}
.partner-box{
    margin-top: 100px;
}
.partnerimgcontainer{
    float: left;
}
.partner-image{
    width: 500px;
    height: 400px;
}
.partner-box-text{
    width: 300px;
    height: 400px;
    margin-top: 30px;
    float: right;
}
.partner-button{
    margin-top: 30px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.partner-button:hover,
.placement-button:hover{
    text-decoration: underline;
    background-color: rgb(146, 119, 119);
    transition: 2s;
}
.businesstitle{
    margin-top: 40px;
}
.business-column{
    margin-top: 20px;
    width: calc(100% / 3 - 65px);
    float: left;
}
.business-image{
    width: 100%;
}
.underlinetext{
    border-bottom: 1px solid black;
}
.team-title{
    margin-top: 200px;
    font-size: 40px;
}
.svgpart-container{
    font-size: 0;
    margin-top: 100px;
}
.svg-firstcol,
.svg-thirdcol{
    width: 25%;
    float: left;
}
img{
    fill: white;
    display: inline-block;
}
.svg-container{
    display: inline-block;
    width: 50%;
    height: 150px;
    line-height: 150px;
    text-align: center;
}
.svg-container img{
    width: 50%;
    vertical-align: middle;
}
.design{
    background-color: rgb(151, 16, 151);
}
.arizona{
    background-color:rgb(143, 248, 239);
}
.invert{
    filter: invert(1);
}
.florida{
    background-color: brown;
}
.topps{
    background-color: rgb(24, 228, 218);
}
.svg-secondcol{
    width: 50%;
    background-color: rgb(221, 206, 206);
    float: left;
    height: 300px;
}
svg.seconddesign{
    fill: black;
    padding: 10px;
    margin-left: 20px;
}
.svghr{
    margin: 0 540px 20px 30px;
}
.morten-cit{
    margin: 15px;
}
.bicycle{
    background-color:rgb(9, 247, 235);
}
.hearst{
    background-color: brown;
}
.planet{
    background-color:yellow;
}
.channel{
    background-color: blue;
}
.db-business{
    background-color: lightblue;
    height: 300px;
    width: 100%;
    float: left;
}
.placement-title{
    color: rgb(128, 0, 60);
    padding: 100px 150px;
    width: 60%;
    display: inline-block;
}
.placement-button{
    padding: 5px 10px;
    margin-left: 200px;
    border: none;
    cursor: pointer;
}
.questions{
    padding:50px;
}
.questiontitle{
    padding-bottom: 10px;
}
.question{
    padding-top:40px;
}
.drop-question:hover{
    content: "";
    display: block;
    height:150px;
    width: 90%;
}
.drop-question-content{
    display: none;
    position: absolute;
}
.drop-question-content p{
    color: rgb(175, 170, 170);
    margin-top: 20px;
}
.fa-angle-down{
    margin-left: 150px;
    position: absolute;
}
.footer-container{
    background-color: black;
    margin-top: 200px;
}
.footer-list{
    display: inline-block;
    list-style-type: none;
    padding: 50px;
}
.footer-li-title{
    color: white;
}
.footer-li{
    color: white;
    text-decoration: none;
    margin-top: 10px;
}
.lastul{
    vertical-align: top;
}
.lasthr{
    color: white;
    margin: 0 1000px 0 50px;
}
.fa-globe-americas{
    color: white;
    padding: 50px;
}




